<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Captain Ben's Pirate Ship | Record Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/record-vinyl-solid.svg">

    <!-- jQueryUI Theme -->
    <link href="//code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css" rel="stylesheet" />

    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/Content/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">*@




    <!--CSS BUNDLE-->
    @Styles.Render("~/Content/css")

</head>
<body class="full-wrapper" style="background-color:#010B17;">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/Images/CaptainBensPirateShipScribble.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area" style="background:url(/Content/Images/underwatertrim5.jpg)">
            <!--#1D2547 is footer color-->
            <div class="main-header header-sticky" style="background:url(/Content/Images/underwatertrim5.jpg)">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logoBens">
                                <@Url.Action("index", "Home")><img src="~/Content/Images/CaptainBensLogo.png" alt="">
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>@Html.ActionLink("Home", "index", "Home")</li>
                                        <li>@Html.ActionLink("About Us", "about", "Home")</li>
                                        <li>
                                            @Html.ActionLink("Records", "index", "Records")
                                            <ul class="submenu">
                                                <li>@Html.ActionLink("Wizardry", "Wizardry", "Categories")</li>
                                                <li>@Html.ActionLink("Backyard", "Backyard", "Categories")</li>
                                                <li>@Html.ActionLink("Local Music", "Local", "Categories")</li>
                                                <li>@Html.ActionLink("Browse All", "index", "Records")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Beverages", "index", "Beverages")</li>
                                        <li>@Html.ActionLink("Contact", "contact", "Home")</li>
                                        <li>
                                            @Html.ActionLink("Account", "Login", "Account")
                                            <ul class="submenu">
                                                <li>
                                                    @Html.Partial("_LoginPartial")
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        @*<div class="header-right1 d-flex align-items-center">
                            <!-- Social -->
                            <div class="header-social d-none d-md-block">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>*@
                        <!-- Search Box -->
                        <div class="search d-none d-md-block">
                            <ul class="d-flex align-items-center">
                                @*<li class="mr-15">
                                        <div class="nav-search search-switch">
                                            <i class="ti-search"></i>
                                        </div>
                                    </li>*@
                                @if (Session["cart"] != null)
                                {
                                    <li>
                                        @{
                                            Dictionary<int, StoreFrontLab.UI.MVC.Models.CartItemViewModel> prods = (Dictionary<int, StoreFrontLab.UI.MVC.Models.CartItemViewModel>)
                                                Session["cart"];
                                            var prodCount = prods.Sum(p => p.Value.Qty);
                                        }

                                        <a href="@Url.Action("Index", "ShoppingCart")">
                                            <img src="~/Content/Images/record-vinyl-solid.svg" style="width:50px;" />
                                            <sup style="color:white; background-color:darkorange; border-radius:30%; display:inline-block; height:1em; padding:1em; text-align:center">@prodCount</sup>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @*</div>*@
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->

    @RenderBody()

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding" style="background: url(/Content/Images/underwaterfooter.jpg);">
            <div class="container-fluid">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="~/Content/Images/CaptainBensLogo.png" alt=""></a>
                                </div>
                                @*<div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                                        </div>
                                    </div>*@
                                <!-- social -->
                                @*<div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        @*<div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick links</h4>
                                    <ul>
                                        <li><a href="#">Image Licensin</a></li>
                                        <li><a href="#">Style Guide</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>*@
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Shop Record Category</h4>
                                <ul>
                                    <li>@Html.ActionLink("Wizardry", "Wizardry", "Categories")</li>
                                    <li>@Html.ActionLink("Backyard", "Backyard", "Categories")</li>
                                    <li>@Html.ActionLink("Local", "Local", "Categories")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Explore</h4>
                                <ul>
                                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                    <li>@Html.ActionLink("Beverage Menu", "index", "Beverages")</li>
                                    <li>@Html.ActionLink("Search Records", "Index", "Records")</li>
                                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Get in touch</h4>
                                <ul>
                                    <li><a href="add tel: (816) 97 - 8694"></a></li>
                                    <li><a href="#">67/A, Crossroads, Kansas City, MO</a></li>
                                    <li>@Html.ActionLink("Email Us", "Contact", "Home")</li>
                                    <li><a href="#">BenjaminJMcD.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area" style="background-color:#010B17;">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <!-- Added jQueryUI CDN -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Added jQuery AJAX CDN -->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Scripts/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Scripts/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/jquery.slicknav.min.js"></script>

    <!-- One Page, Animated-HeadLin, Date Picker -->
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/animated.headline.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/js/gijgo.min.js"></script>

    <!-- Nice-select, sticky,Progress -->
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/js/jquery.sticky.js"></script>
    <script src="~/Scripts/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/jquery.countdown.min.js"></script>
    <script src="~/Scripts/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/Scripts/js/contact.js"></script>
    <script src="~/Scripts/js/jquery.form.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/mail-script.js"></script>
    <script src="~/Scripts/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="~/Scripts/js/main.js"></script>



    @Scripts.Render("~/bundles/scripts")

    @RenderSection("scripts", required: false)

</body>
</html>