@model StoreFront.DATA.EF.Record

@{
    ViewBag.Title = "Add to Cart?";
}

<h2 style="color:white;">@ViewBag.Title</h2>

<div style="float:left; margin-left:25%;">
    <img style="max-width:300px" src="~/Content/RecordCovers/@Model.CoverImage" title="@Model.RecordName" />
</div>

<div>
    
        <dl class="col-md-3" style="margin-left:50%;">
            <dt>
                @Html.DisplayNameFor(model => model.RecordName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecordName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BandMusician)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BandMusician)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ColoredLP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ColoredLP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre.GenreName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Producer.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Producer.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StockStatus.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StockStatus.Status)
            </dd>
    </dl>

</div>

@* ADDED THIS FOR "ADD TO CART" FUNCTIONALITY *@
<p>
    @using (Html.BeginForm("AddToCart", "Records", new { @recordID = Model.RecordID }, FormMethod.Post, new { @class = "text-center" }))
    {
        @Html.HiddenFor(x => x.RecordID)
        <span class="label" style="color: #000;">Quantity: </span>
        @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
        <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
    }
</p>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.RecordID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
